<div class="container mt-5 mb-5">
	<div class="row text-center text-xs-center text-sm-left text-md-left ">
    <div class="col-xs-12 col-sm-12 col-md-6 mx-auto text-right">
     <%= image_tag @item.image, width: "60%", format: "jpeg", fallback: "no_image.jpeg", class:"lb" %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 item-details mx-auto">
      <h2><strong><%= @item.name %></strong></h2>
      <h4><%= simple_format(@item.introduction)%></h4>
      <h3>¥ <%= @item.add_tax_price.to_s(:delimited) %> (税込)</h3>
    </div> 
    <div class="col-xs-12 col-sm-12 col-md-6 mx-auto text-right">
      <strong class="error"></strong>
        <%= form_for @cart_item, url: cart_items_path(@cart_item) do |f| %>
        <%= f.hidden_field :item_id  , :value => @item.id%>
        <%= f.select :amount, [['1個', 1], ['2個', 2], ['3個', 3], ['4個', 4], ['5個', 5], ['6個', 6], ['7個', 7], ['8個', 8], ['9個', 9]], {:prompt => "個数選択"} %>
        <%= f.submit "カートに入れる" ,class: 'btn btn-primary' %>
        <% end %>
    </div>  
  </div>
</div>